#player-container {
  position: relative;
  width: 1280px;
  height: 720px;
}

#player-container video {
  width: 100%;
  height: 100%;
}

#control-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

.progress-bar {
  height: 5px;
  width: 100%;
  cursor: pointer;
  background-color: #555;
}

.progress {
  height: 100%;
  background-color: #2196F3;
  width: 0%;
}

.control-bar-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.control-bar-buttons button {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #333;
  border: none;
  color: white;
  cursor: pointer;
}

.control-bar-buttons button:hover {
  background-color: #555;
}

.left-controls, .right-controls {
  display: flex;
  align-items: center;
}

/* TimeDisplay style (if needed) */
#time-display {
  color: white;
  margin-left: 10px;
}

.ad-progress-bar {
  position: absolute !important;
  bottom: 20px !important;
  left: 20px !important;
  
}